<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="georgi.com.BlogApp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activities.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Activities.Account.LoginActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name=".Activities.Account.RegisterActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name=".Activities.Posts.LatestPostsActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name=".Activities.Account.AccountActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name=".Activities.Posts.PostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>


        <activity android:name=".Activities.Posts.CreateNewPostActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name=".Activities.Posts.YourPostsActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name=".Activities.Posts.EditPostActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name=".Activities.Account.ViewOtherUserActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name=".Activities.Account.EditAccountActivity"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>